.nav-bar {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
}
.nav-links {
  list-style: none;
}
.link {
  text-decoration: none;
  color: black;
}
.strike {
  text-decoration: line-through;
}
