.form {
  justify-content: center;
  margin: 50px auto;
  width: 300px;
  height: 300px;
  box-shadow: 5px 10px 18px #888888;
  padding: 20px;
}
.input {
  width: 200px;
  height: 20px;
}
.login-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
}
.button {
  margin-top: 30px;
  width: 70px;
  height: 30px;
  background: black;
  color: white;
}
